.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-logo {
  height: 60vmin;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.App-logo {
  height: 20vmin;
  position: absolute;
  top: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade-in 4s;
  }
}


.Login-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Metamask button */
.metamaskButton {
  appearance: none;
  background: whitesmoke;
  border: 2px solid #282c34;
  border-radius: 15px;
  box-sizing: border-box;
  color: #282c34;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
  background-image: url("metamask.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 20px;
  
}

.metamaskButton:disabled {
  pointer-events: none;
}

.metamaskButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.metamaskButton:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.loading::after {
  content: "";
  animation: dots 2s steps(4, end) infinite;
}

@keyframes dots {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
}

.chat-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-header {
  padding: 8px;
  background-color: #f1f0f0;
  text-align: center;
  color: #282c34;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-minimizeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.chat-expandButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #d7e2d8;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.chat-window {
  flex: 1;
  overflow-y: scroll;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  background-color: #f9f9f9;
}

.chat-message {
  max-width: 70%;
  padding: 5px;
  border-radius: 10px;
  color: #333;
}

.chat-inputContainer {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.chat-input {
  flex: 1;
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-resizer {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.chat-suggestionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.chat-suggestionButton {
  padding: 5px 10px;
  background-color: #c9eae3;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
